<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List errors</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="container">
    <h2>List of errors: <span th:text="${#lists.size(errors)}"></span>ks</h2>

    <table class="table table-striped">
        <tr>
            <td>Eshop(Id)</td>
            <td>Info</td>
            <td>Actions</td>
        </tr>
        <tr th:each="error : ${errors}">
            <td >
                <!-- eshop and id-->
                <span th:text="${error.eshopUuid.name()}+'('+${error.id}+')'"> </span>
                <br>
                <!-- last updated -->
                <span th:text="${#dates.format(error.updated, 'dd-MMM-yyyy HH:mm:ss')}"></span>
            </td>
            <td>
                <!-- Message -->
                <span style="font-weight:bold;color:red;">Message:</span>
                <br>
                <span th:text="${error.message!=null} ? ${error.message} : '-'"></span>
                <br>
                <!-- URL -->
                <span style="font-weight:bold; color:blue;">URL:</span>
                <br>
                <span th:text="${error.url!=null} ? ${error.url} : '-'"></span>
                <br>
                <!-- Additional Info -->
                <span style="font-weight:bold;">Additional Info:</span>
                <br>
                <span th:text="${error.additionalInfo!=null} ? ${error.additionalInfo} : '-'"></span>
            </td>
            <!-- Actions -->
            <td>
                <span th:text="aloha"></span>
                <!-- delte by id -->
                <!-- delete all for given eshop -->
            </td>
        </tr>
    </table>

</div>
</body>
</html>