<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Executors state</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="container">
    <h2>List of executors: <span th:text="${#lists.size(executorStatistics)}"></span>ks</h2>

    <table class="table table-striped">
        <tr>
            <th>Eshop</th>
            <th>State</th>
            <th>Count</th>
        </tr>
        <tr th:each="executor : ${executorStatistics}">
            <!-- eshop -->
            <td>
                <span th:text="${executor.eshopUuid.name()}"></span>
            </td>
            <!-- state-->
            <td>
                <span style="color:orange;"
                      th:text="${executor.getState().name()}"
                      th:if="${executor.getState()== T(sk.hudak.prco.dto.ExecutorState).RUNNING}"></span>
                <span style="color:red;"
                      th:text="${executor.getState().name()}"
                      th:if="${executor.getState()== T(sk.hudak.prco.dto.ExecutorState).WAITING}"></span>
                <span style="color:green;"
                      th:text="${executor.getState().name()}"
                      th:if="${executor.getState()==T(sk.hudak.prco.dto.ExecutorState).COMPLETED}"></span>
            </td>
            <!-- count -->
            <td>
                <span th:text="${executor.completedTaskCount +'/'+ executor.taskCount+' completed'}"></span>
            </td>
        </tr>
    </table>

</div>
</body>
</html>