<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List of new product</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="container">
    <h2>Update unit value of product:</h2>
    <h3><span th:text="${productUnitDataDto.name}"></span></h3>

    <form action="#" th:action="${'/product/unitData/save'}" th:object="${productUnitDataDto}" method="post">
        <p>Id: <input type="text" th:field="${productUnitDataDto.id}" /></p>

        <!-- TODO combo na unit -->
        <!--<p>Unit: <input type="text" th:field="${productUnitDataDto.unit!=null} ? ${productUnitDataDto.unit.name()} : '-'" /></p>-->

        <p>Unit value: <input type="text" th:field="*{unitValue}" /></p>

        <p>Unit package count: <input type="text" th:field="*{unitPackageCount}" /></p>

        <p>
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
        </p>
    </form>

</div>

</body>
</html>